.idea/
logs/
.ipynb_checkpoints/
results/
my_results/
**.zip
**.h5
**.pkl
**.pdf
**.csv
**.pyc
**.npy
3_make_model/rnn/3_create_models/checkpoints/models
4_test_model/models
4_test_model/bkup
checkpoints
*bkup*
bkup/
explore_**
configSecrets.py
notes.txt
.gitBkup